@import url(https://fonts.googleapis.com/css?family=Roboto:300);

#search {
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.btn {
    height: 30px;
    width: 125vh;
}

.bt {
    height: 30px;
    text-transform: uppercase;
        background: #4CAF50;
        border: 0;
        color: #FFFFFF;
        cursor: pointer;
}

body {
    padding: 10px;
    background: rgb(28, 182, 169);
    font-family: "Roboto", sans-serif;
}

.user {
    background-color: white;
    display: flex;
    align-items: center;
    padding: 12px 15px;
    margin: 35px auto;
    width: 130vh;
    justify-content: start;
}